{# empty Twig template #}
<p>Selecione a data para exportação e clique em OK:</p>

<form action="{{ form_action }}" enctype='multipart/form-data' method="POST">
    
    <label>Data:</label>
    <input type="text" name="ponto_export_date" /><br />
    
    <input type="submit" value="Enviar" />
    
</form>